* {
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    font-family: Inter;
}

body {
     background-image: url(email-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.8); 
    /* background-color: black; */
}

section {
    /* border: 2px solid green; */
    /* height: 600px; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

@media screen and (max-width: 520px) {
    section {
        flex-flow: column-reverse;
    }
}


.main {
    border: 1px solid blueviolet;
    padding: 50px 40px;
    border-radius: 5px;
    /* background-color: gainsboro; */
    backdrop-filter: blur(10px);
    box-shadow: inset 1px 1px 10px blue;
}

@media screen and (max-width: 620px) {
    .main {
        padding: 50px 10px;
    }
}

.send-div {
    /* border: 2px solid red; */
    height: 100px;
    width: fit-content;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media screen and (max-width: 520px) {
    .send-div {
        flex-flow: column;
    }
}


input {
    padding: 20px;
    padding-right: 200px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 520px) {
    input {
        padding-right: 100px;
        margin-top: 20px;
    }
}

.send {
    /* height: 60px;
    width: 60px; */
    padding: 20px;
    font-size: 18px;
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

@media screen and (max-width: 520px) {
    .send {
        height: 100px;
        width: 250px;
        padding: 15px 2px;
        margin-top: 10px;
    }
}

.send:hover {
    background-color: rgb(84, 21, 143);
}

.send i {
    font-size: 15px;
}

input::placeholder {
    font-size: 15px;
}

input:focus {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
}

input:focus::placeholder {
    color: white;
}

p {
    /* width: 150px; */
    height: 30px;
    background-color: red;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    color: white;
    position: relative;
    left: -250px;
}

.wrong {
    border: 1px solid red;
}

.pad {
    padding: 20px;
}

h5 {
    color: white;
    text-align: center;
}

.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: gray;
     background-color: rgba(128,128,128,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

article {
    background-color: white;
    padding: 20px 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    display: none;
    /* transform: translateY(100px); */

    transform: translate(-50%, -50%);
}


@media screen and (max-width: 620px) {
    article {
        padding: 20px 30px;
    }
}

article i {
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 50%;
}

article h2 {
    color: blueviolet;
    text-align: center;
}

article button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

article button:hover {
    background-color: blue;
}

#load {
    animation: spin 0.9s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error {
    border: 1px solid red;
}